@-moz-document regexp("^moz-extension://.*?/sidebar/sidebar\.html")
{
  .PinnedDock .PinnedTab {
    width: 100% !important;
    justify-content: start !important;
  }
  @media (max-width: 30px) {
    .Tab[data-lvl] {
      padding-left: 0px !important;
    }
  }
  @media (max-width: 70px) {
    .Tab .close,
    .Tab .exp,
    .PinnedTab .close {
      visibility: hidden;
    }
  }
}
